.animation-container{
    width: 100%;
    height: 515px;
    box-sizing: border-box;
    border: 2px solid steelblue;
    animation-name: animated-images;
    animation-duration: 30s;
    background-size: cover;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background-color: white;
  }

@keyframes animated-images{
    0%{
        background-image: url(Animation/ani1.jpg);
    }
    20%{
        background-image: url(Animation/ani2.png);
    }
    40%{
        background-image: url(Animation/ani3.jpg);
    }
    60%{
        background-image: url(Animation/ani4.jpg);
    }
    80%{
        background-image: url(Animation/ani5.jpg);
    }
    
}